.block {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	min-width: 666px;
}

.block.-center {
	justify-content: center;
}

.underline {
	width: 220px;
	border-bottom: 4px dotted #2F80ED;
	color: #2F80ED;
	padding-bottom: 3px;
	font-size: 14px;
	margin-left: 90px;
}

.none {
	display: flex;
}

.content {
	display: flex;
	flex-wrap: wrap;
	width: 550px;
	justify-content: space-evenly;
}

.underline.-none {
	display: none;
}

.who {
	width: 200px;
}

.subtitle{
	font-size: 16px;
	color: #2F80ED;
}

.subtitle.-gray {
	color: #565656;
}

.interest {
	color: #2F80ED;
	font-size: 24px;
}

.interest.-smoll {
	font-size: 18px;
}

.text {
	margin-top: 15px;	
	color: #636363;
	line-height: 143.55%;	
}

@media screen and (max-width: 1120px) {

	.block {
		min-width: 558px;
	}

	.block.-wrap {
		min-width: none;
	}

	.block.-center {
		min-width: 900px;
	}

	.content {
		width: 450px;
	}
}

@media screen and (max-width: 902px) {

	.block.-wrap {
		flex-wrap: unset;
	}

	.block.-center {
		min-width: auto;
	}

	.underline {
		margin:0px;
	}

	.who {
    	width: 152px;
	}

	.interest.-smoll {
   		font-size: 15px;
	}

	.text {
		font-size: 15px;
		line-height: 100%;
	}
}

@media screen and (max-width: 790px) {

	.underline {
		display: none;
	}

	.underline.-none {
		margin-left: 20px;
		width: 150px;
		height: 45px;
		display: block;
	}

	.interest {
    	font-size: 20px;
	}

	.title.-center {
		padding: 0px;
	}
}

@media screen and (max-width: 767px) {

	.block.-wrap {
		flex-wrap: wrap;
    	justify-content: space-around;
	}
	.who {
		margin-bottom: 40px;
		width: 200px;
	}

}

@media screen and (max-width: 676px) {

	.block {		
		min-width: 100%;
	}

}

@media screen and (max-width: 574px) {

	.block {
		display: flex;
		justify-content: space-around;
	    min-width: 436px;
	}

	.block.-wrap {
		display: flex;
		align-items: center;
	    flex-direction: column;
	}

	.block {
		min-width: 304px;
	}

	.who {
		margin-bottom: 40px;
	    width: 220px;
	}

	.content {
		width: 300px;
		justify-content: center;
	}

	.underline.-none {
		display: none;
	}
}