.title {
	padding-right: 45px;
	font-size: 30px;
	line-height: 1.5;
}

.title.-center {
	margin-bottom: 35px;
	text-align: center;
}

.block {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	min-width: 666px;
}

.block.-wrap {

}

.bg {
	background-image: url("../img/Rectangle.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	padding-top: 50px;
}
	
.subunit {
	margin-bottom: 30px;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-left: 54px; 
	text-align: left;
	background: #FFFFFF;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
	width: 313px;
	height: 190px;	
}

.who {
	width: 225px;
}

.subtitle{
	font-size: 16px;
	color: #2F80ED;
}

.interest {
	color: #2F80ED;
	font-size: 24px;
}

.text {
	margin-top: 15px;	
	color: #636363;
	line-height: 143.55%;	
}

@media screen and (max-width: 902px) {

	.block.-wrap {
		flex-wrap: unset;
	}
}


@media screen and (max-width: 767px) {
	
	.bg {
		background-position-x: 8%; 
		padding-left: 30px; 
		height: 600px;
	}

	.block.-wrap {
		flex-wrap: unset;
	}

}

@media screen and (max-width: 790px) {

	.interest {
    	font-size: 20px;
	}

	.title {
		text-align: center;	
		padding-left: 45px;
		margin-bottom: 30px;
	}

	.title.-center {
		padding-right: 0px;
	}

	.block {
		padding-right: 10px;
		padding-left: 10px;
	}

}

@media screen and (max-width: 676px) {

	.block {		
		min-width: 100%;
	}

}

@media screen and (max-width: 1120px) {
	
.subunit {
	padding-top: 17px;
	padding-left: 19px;
	width: 265px;
    height: 150px;
}

.block {
	min-width: 558px;
}

.who {
	margin-right: 15px;
}

.block.-wrap {
	min-width: none;
}
}

@media screen and (max-width: 1020px) {

.bg {
	padding-left: 
}

}

@media screen and (max-width: 574px) {

.block {
	display: flex;
	justify-content: space-around;
    min-width: 436px;
}

.block.-wrap {
	display: block;
}

.bg {
	padding-top: 50px;
	height: 535px;
	background-position-x: 7%;
}

.who {
	margin-bottom: 30px;
}

.subunit {
	padding-top: 40px;
    padding-left: 41px;
    padding-right: 41px;
    height: 216px;
	width: 380px;
}

.who {
    margin-left: 135px;
}

.bg {
	height: 840px;
	background-position-x: 43%;
}

.block {
	min-width: 304px;
}
}

@media screen and (max-width: 464px) {

.who {
    margin-left: 45px;
}

.title {
	text-align: center;	
	padding-right:0px;
	padding-left: 0px;
}

.subunit {
	width: 310px;
}
}