.button {
	width: 170px;
	height: 45px;
	background-color: #64E2CD;
	border-radius: 50px;
	border: rgba(100, 226, 205, 0.5);
	color: white;
	box-shadow: 0px 0px 0 10px rgba(100, 226, 205, 0.5);
}

.button.-shadow {
	box-shadow: none;
	width: 150px;
	margin-top: 25px;
}

.button.-shadow.-margin {
	margin: 0px;
}

.button.-light {
	margin-left: 20px;
}

.button.-light.-none.-white {
	box-shadow: none;
	background-color: white;
	color: #2F80ED;
}

.button.-width {
	width: 200px;
	box-shadow: none;
}

.button.-light.-none.-white.-block {
	display: none;
}

@media screen and ( max-width: 767px ) {

	.button.-light.-none {
		display: none;
	}
}

@media screen and ( max-width: 902px ) {

	.button.-light.-none.-white {
		margin-left: 0px;
	}

	.button.-light.-none.-white.-LIF {
    	display: block;
	}
}


@media screen and (max-width: 1120px ){
	
	.button.-width {
		margin-top: 5px;
		margin-right: 20px;
	}

	.button.-width.-margin {
		margin-right: 0px;
	}
}

@media screen and (max-width: 902px ){

	.button.-width.-margin {
		margin-right: 20px;
	}	
}

@media screen and (max-width: 464px ){
	.button.-shadow {
		margin-left: 55px;
	}

	.button.-width {
		margin-right: 0px;
		width: 100%;
	}

	.button.-light.-none.-white.-block {
		display: initial;
		margin-top: 10px;	
	}

	.button.-light.-none.-white.-LIF {
    	display: none;
	}
}