.button {
	width: 170px;
	height: 45px;
	background-color: #64E2CD;
	border-radius: 50px;
	border: rgba(100, 226, 205, 0.5);
	color: white;
	box-shadow: 0px 0px 0 10px rgba(100, 226, 205, 0.5);
}

.button.-shadow {
	box-shadow: none;
	width: 150px;
	margin-top: 25px;
}

.button.-shadow.-margin {
	margin: 0px;
}

.button.-light {
	margin-left: 20px;
}

.button.-light.-none.-white {
	box-shadow: none;
	background-color: white;
	color: #2F80ED;
}

@media screen and ( max-width: 767px ) {

	.button.-light.-none {
		display: none;
	}
}

@media screen and ( max-width: 902px ) {

	.button.-light.-none.-white {
		margin-left: 0px;
	}
}

@media screen and (max-width: 464px ){
	.button.-shadow {
		margin-left: 55px;
	}
}