.coment {
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 10px;
	padding: 15px;
	width: 450px;
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
}

.coment.-big {
	height: 280px;
}

.coment.-big.-none {
	display: none;
}

@media screen and (max-width: 902px ){

	.coment.-big {
		display: none;
	}

	.coment.-big.-none {
		display: block;
	}
}

@media screen and (max-width: 464px ){

	.coment {
		width: 320px;
	}
}