.container {
	width: 1100px;
	margin: 0 auto;
}

@media screen and ( max-width: 1120px ) {

	.container { max-width: 920px;
	 }
}

@media screen and ( max-width: 902px ) {

	.container {
		max-width: 600px;
	}
}

@media screen and ( max-width: 767px ) {

.container {
	max-width: 500px;
	}
}


@media screen and ( max-width: 464px ) {

	.container {
		max-width: 300px;
	}

	.hero__circle {
    left: 90px;
    top: 487px;
	}
}
