.footer {
	height: 90px;
	display: flex;
	align-items: center;
	background-color: #185FBF;
}

.cities {
    text-align: center;
}

.footer__agreement{
	color: white;
}

@media screen and (max-width: 464px ){
	.footer {
		height: 100%;
		padding-bottom: 15px;
	}

	.footer.-cities {
		display: grid;
	}

	.footer__agreement {
		margin-top: 15px;
	}

	.cities {
		display: inline-grid;
	}
}
