.header {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link.-up {
	text-transform: uppercase;
}

.header__link {
	margin-right: 17px;
}

.button.-light {
	margin-left: 30px;
}

.header__actions {
	display: flex;
}