.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger {
	display: none;
}

.header__link.-up {
	text-transform: uppercase;
}

.header__link.-up.-blue {
	color: var(--color-grey);
} 

.header__cities {
	align-items: center;
	display: flex;
	margin-left: 94px;

}

.triangle {
	border: 3.5px solid transparent;
	border-top: 7px solid white;
	width: 0;
	height: 0;
}

.header__link {
	font-size: 15px;
	color: white;
	margin-right: 9px;
}

.header__actions {
	display: flex;
}

.header__nav {
	display: flex;
	align-items: center;
}

@media screen and ( max-width: 1440px ) {

	.header__cities {
		margin-left: 170px; 
	}

}

@media screen and ( max-width: 1120px ) {

	.header__link.-up.-none {
		display: none;
	}
	
	.header__link.-up.-blue {
	color: var(--color-grey);
	} 

}
@media screen and ( max-width: 902px ) {

    .header__cities {
    	margin-right: 10px;
    	margin-left: 0px;
    }

    .header__link {
    	margin-right: 7px; 
    }

    .header__nav {
		display: none;
	}
}


@media screen and ( max-width: 767px ) {

	.header__cities {
    margin-left: 0px;
	}

	.header__link.-up.-none {
		display: none;
	}

	.burger {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		width: 36px;
		height: 30px;
	}

	.burger__item {
		height: 2px;
		background-color: white;
		width: 30px;
		border-radius: 4px;
	}

	.burger__item.-m {
		width: 14px;
	}
}

@media screen and (max-width: 464px) {
	
	.header__cities {
		margin-left: 0;
	}

	.header__link.-up.-blue {
		margin-top: 6px;
	}
}

