.hero {
	background-image: url("../img/hero_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 43%
	margin-bottom: 150px;
	height: 945px;
}

.hero__info {
	color: white;
	margin-top: 88px;
	width: 552px;
	text-align: left;

} 

.hero__title {
	font-size: 40px;
	margin-top: 18px;
	margin-bottom: 21px;
}

.hero__subtitle {
	margin-bottom: 29px;
}

.hero__content {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1px;
}

.hero__circle {
	padding: 55px;
	position: absolute;
	width: 231px;
	height: 231px;
	border-radius: 50%;
	left: 50px;
	top: 426px;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	text-align: center;
}

.hero__text {
	color:  #2F80ED;

}

.hero__bold {
	font-size: 30px;
	margin-top: 8px;
	margin-bottom: 8px;
	color: #2F80ED;
}

.hero__text.-read {
	font-size: 12px;
}



@media screen and ( max-width: 1440px) {
	
	.hero {
		height: 680px;
	}
} 

@media screen and ( max-width: 1120px ) {

	.hero {
		background-position-x: 43%
	}

	.hero__info {
		color: white;
		margin-top: 29px;
		width: 400px;
	} 	

	.hero__circle {
		left: 45px;
		top: 417px;
	}

	.hero__title {
		font-size: 36px;
		margin-top: 18px;
		margin-bottom: 21px;
	}

}

@media screen and ( max-width: 767px ) {

	.hero {
		background-repeat: no-repeat;
	}

	.hero__info {
		color: white;
		margin-top: 29px;
		width: 400px;
	} 	

	.hero__circle {
		left: 45px;
		top: 417px;
	}

}

@media screen and ( max-width: 464px ) {

	.hero {
		margin-bottom: 76px;
		background-repeat: no-repeat;
	}


}
