.img.-smoll {
	margin-right: 15px;
	width: 50px;
	height: 50px;
}

.img.-gallery{
	max-width: 24%;
}

.img.-people{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 25px;
}  

.img.-me {
	border-radius: 10px;
}

.img.-people.-block2 {
	display: none;
}

@media screen and ( max-width: 902px ){
	
	.img.-me {
		max-width: 80%;	
	}

	.img.-people.-block {
		display: none;
	}
	
	.img.-people.-block2{
		display: block;
	}  
}

@media screen and ( max-width: 790px ){

	.img.-me {
		max-width: 100%;
	}
}