.img.-smoll {
	margin-right: 15px;
	width: 50px;
	height: 50px;
}

.img.-gallery {
	max-width: 24%;
}

.img.-people {
	background-image: url("../img/smoll/image9.png");
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 25px;
}  

.img.-people.-m {
	background-position-x:  45%;
	background-image: url("../img/smoll/image10.png");
}

.img.-people.-block2{
	background-image: url("../img/smoll/image11.png");
	background-position-x: 45%; 
}

.img.-me {
	border-radius: 10px;
}

.img.-mean {
	height: 70px;
	width: 70px;
}

.img.-book {
	width: 110px;
	height: 90px;
}

.img.-people.-block2 {
	display: none;
}

@media screen and ( max-width: 902px ){
	
	.img.-me {
		max-width: 80%;	
	}

	.img.-people.-block {
		display: none;
	}
	
	.img.-people.-block2{
		display: block;
	}  
}

@media screen and ( max-width: 790px ){

	.img.-me {
		max-width: 100%;
	}
}

@media screen and (max-width: 464px ){

	.img.-gallery {
    	max-width: 46%;
    	height: 110px;
	}

}