.section {
	margin-top: 50px;
	padding-top: 50px;
	background-repeat: no-repeat;
}

.section.-bg {
	background-image: url("../img/Rectangle.png");
	height: 600px;
	background-position-x: right;
}

.section.-result {
	background-image: url("../img/result.png");
	height: 126vh;
	padding-top: 100px;
	padding-bottom: 100px;
}

.section.-coment {
	background-image: url("../img/coment.png");
	height: 950px;
}

.section.-sale {
	background-image: url("../img/sale.png");
	height: 100%;
	background-position-x: 50%; 
}

.section.-options {
	background-image: url("../img/options1.png");
	height: 1070px;
}
.section.-form {
	background-color: rgba(47, 128, 237, 0.05);
	height: 200px;
	margin-bottom: 0px;
	padding-top: 80px;
}

.section.-blue {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #2F80ED;
	margin-top: 0px;
	height: 100%;
}

@media screen and (max-width: 1120px) {
	.section.-options {
		height: 850px;
		background-size: cover;
	}
}

@media screen and (max-width: 902px) {
	
	.section.-coment {
		background-size: cover;
		background-position-x: 10%;
		height: 1000px;
	}

	.section.-form {
		padding-top: 50px;
	}

}

@media screen and (max-width: 767px) {

	.section.-bg {
		background-position-x: 8%; 
		height: 600px;
	}
}

@media screen and (max-width: 790px) {

	.section.-result{
		height: 930px;
		background-size: cover;
	}
}

@media screen and (max-width: 574px) {
	
	.section.-bg {
		height: 780px;
		background-position-x: 43%;
		background-size: cover;
	}
	
	.section.-options {
		height: 100%;
	}

	.section.-form{
		height: 300px;
	}
}

@media screen and (max-width: 464px) {
	
	.section.-blue {
	    height: 190px;
	}
	.section.-result {
    	height: 1040px;
    }
}